* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #000;
  scroll-behavior: smooth;
}

header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0px 10px;
  background-color: transparent;
  transition: background-color 0.5s ease;
  z-index: 2;
}

.Logo{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

#PageIndex{
  margin: auto;
  padding-bottom: 10px;
}

#PageIndex ul {
  display: flex;
  font-size: 1.2rem;
  list-style: none;
  gap: 20px;
  padding-right: 90px;
}

#LanguageIndex ul {
  display: none;
  list-style: none;
  gap: 20px;
}

#LanguageIndex > ul.active {
  display: flex;
}

#LanguageIndex ul{
  display: none;
  flex-direction: column;
  background: #001f3f;
  position: absolute;
  cursor: pointer;
  top: 70px;
  right: 90px;
  padding: 20px;
  border-radius: 8px;
  z-index: 11;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #00aaff;
}

nav li:hover {
  color: #00aaff;
}

.Menu {
  display: none;
  font-size: 2rem;
  color: #00aaff;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 40px;
  z-index: 11;
}

.Language {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 90px;
  z-index: 11;
}

.Hero {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 0;
}

.HeroVideo {
  position: absolute;
  width: 1080px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

.HeroContent {
  z-index: 1;
  padding: 40px;
}

.Hero h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  white-space: nowrap;
  margin-bottom: 1rem;
}

.Hero p {
  font-size: 1.2rem;
}

section {
  padding: 60px 40px;
}

.About{
  padding-bottom: 0px;
}

.About div{
  max-width: 880px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #001f3f;
}

.Contact {
  background-color: #72C4EC;
  display: flex;
  justify-content: center;
}

.Contact div{
  max-width: 880px;
  background-color: #001f3f;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.Contact p{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.Contact a{
  font-size: clamp(1.4rem, 3vw, 2rem);
  margin-bottom: 30px;
  color: #72C4EC;
  text-decoration: none;
  transition: font-size 0.3s;
}

.Contact a:hover {
  font-size: clamp(1.5rem, 3.5vw, 2.2rem);
}

.SectionTitle{
    text-align:center;
    font-size:3rem;
    margin-bottom:60px;
}

.GameShowcase{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;

    max-width:1200px;
    margin:0 auto 120px auto;
}

.GameShowcase.Reverse{
    flex-direction:row-reverse;
    margin:0 auto 60px auto;
}

.GameImage{
    flex:1;
}

.GameImage img{
    width:100%;
    border-radius:16px;

    transition:0.4s;
}

.GameImage img:hover{
    transform:scale(1.03);
}

.ComingSoon{
    margin: auto;
    color: #72C4EC; 
    text-shadow: 2px 2px 10px rgba(114, 196, 236, 0.5);
    font-size:2rem;
    padding-bottom: 40px;
}

.GameInfo{
    flex:1;
}

.GameTag{
    display:inline-block;

    padding:8px 16px;

    background:#00aaff;
    color:black;

    border-radius:999px;

    font-weight:bold;
    margin-bottom:20px;
}

.GameInfo h3{
    font-size:3rem;
    margin-bottom:20px;
}

.GameInfo p{
    font-size:1.2rem;
    line-height:1.7;
    color:#cccccc;

    margin-bottom:30px;
}

.GameButton{
    display:inline-block;

    padding:14px 24px;

    background:#00aaff;
    color:black;

    text-decoration:none;
    font-weight:bold;

    border-radius:8px;

    transition:0.3s;
}

.GameButton:hover{
    transform:translateY(-2px);
}

.Team{
    background-color:#001f3f;
}

.TeamContainer{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

    max-width:1200px;
    margin:auto;
}

.MemberCard{
    width:320px;

    background:#002b5c;

    border-radius:16px;

    padding:25px;

    text-align:center;

    transition:0.3s;
}

.MemberCard:hover{
    transform:translateY(-8px);
}

.MemberCard img{
    width:140px;
    height:140px;

    object-fit:cover;

    border-radius:50%;

    border:4px solid #00aaff;

    margin-bottom:20px;
}

.MemberCard h3{
    font-size:1.6rem;
    margin-bottom:8px;
}

.Role{
    display:block;

    color:#00aaff;

    font-weight:bold;

    margin-bottom:15px;
}

.MemberCard p{
    color:#cccccc;
    line-height:1.5;
}

.SocialMedia{
  background-color: black;
}

.SocialMedia h2{
  margin-bottom: 20px;
}

.SocialIcons > a{
  padding: 0px 5px;
}

#FooterLogo {
  display: block;
  width: 85%;
  max-width: 400px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #777;
  border-top: 1px solid #777;;
}

/* Responsividade */
@media (min-width: 1024px) {
  
}

@media (min-width: 768px) {
  .Language {
    right: 40px;
  }

  #LanguageIndex ul {
    display: none;
    flex-direction: column;
    background: #001f3f;
    position: absolute;
    top: 70px;
    right: 40px;
    padding: 20px;
    border-radius: 8px;
    z-index: 11;
  }

  .About{
    font-size: 1.35em;
  }
}

@media (max-width: 768px) {
  #PageIndex ul{
    display: none;
    flex-direction: column;
    background: #001f3f;
    position: absolute;
    top: 70px;
    right: 40px;
    padding: 20px;
    border-radius: 8px;
    z-index: 11;
  }

  #PageIndex > ul.active {
    display: flex;
  }

  .Menu {
    display: block;
  }

  .Language {
    display: block;
  }

  .HeroVideo{
    margin-right: 35px;
  }

  .GameShowcase,
  .GameShowcase.Reverse{
      flex-direction:column;
      gap:30px;
      text-align:center;
  }

  .GameInfo h3{
    font-size:2rem;
  }

  .SocialMedia h2{
    text-align: center;
  }

  #FooterLogo {
    margin: auto;
  }

  .SocialIcons {
    display: flex;
    justify-content: center;
  }
}
